**a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.**

In [1]:
import os
import pandas as pd
# reading csv file by using inbuilt pandas function
df=pd.read_csv('/content/units_removed.csv')
df

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,7.88,4.75
5843,5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,NaN,4.00
5844,5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,NaN,2.90
5845,5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,NaN,2.65
5846,5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,NaN,2.50

In [2]:
df.info() #returns the columns along with their data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       5847 non-null   int64
 1   Unnamed: 0         5847 non-null   int64
 2   Name               5847 non-null   object
 3   Location           5847 non-null   object
 4   Year               5847 non-null   int64
 5   Kilometers_Driven  5847 non-null   int64
 6   Fuel_Type          5847 non-null   object
 7   Transmission       5847 non-null   object
 8   Owner_Type         5847 non-null   object
 9   Mileage            5845 non-null   float64
 10  Engine             5811 non-null   float64
 11  Power              5811 non-null   float64
 12  Seats              5809 non-null   float64
 13  New_Price          815 non-null    float64
 14  Price              5847 non-null   float64
dtypes: float64(6), int64(4), object(5)
memory usage: 685.3+ KB

In [3]:
df.describe() #gives a brief idea about the dataset

,Unnamed: 0.1,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price
count,5847.000000,5847.000000,5847.000000,5.847000e+03,5845.000000,5811.000000,5811.000000,5809.000000,815.000000,5847.000000
mean,2923.000000,3013.181461,2013.448435,5.841013e+04,18.158496,1631.552573,113.803144,5.286452,20.484564,9.653742
std,1688.027843,1736.398890,3.194949,9.237971e+04,4.358246,601.972587,53.896719,0.806668,20.248764,11.275966
min,0.000000,1.000000,1998.000000,1.710000e+02,0.000000,72.000000,34.200000,2.000000,1.000000,0.440000
25%,1461.500000,1509.500000,2012.000000,3.346750e+04,15.260000,1198.000000,78.000000,5.000000,7.880000,3.550000
50%,2923.000000,3015.000000,2014.000000,5.257600e+04,18.190000,1497.000000,98.600000,5.000000,11.480000,5.750000
75%,4384.500000,4517.500000,2016.000000,7.249050e+04,21.100000,1991.000000,139.010000,5.000000,24.015000,10.250000
max,5846.000000,6018.000000,2019.000000,6.500000e+06,28.400000,5998.000000,560.000000,10.000000,99.920000,160.000000

In [4]:
df.isna() #to check null values

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [5]:
# obtaining the count of missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

Unnamed: 0.1            0
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [6]:
#to obtain the only the columns containg missing values

missing = missing_values[missing_values>0]
print(missing)

Mileage         2
Engine         36
Power          36
Seats          38
New_Price    5032
dtype: int64

In [7]:
df['Mileage'].fillna(df['Mileage'].median(), inplace=True)  #replacing null values with median
df['Engine'].fillna(df['Engine'].mean(), inplace=True)      #replacing null values with mean
df['Power'].fillna(df['Power'].median(), inplace=True)      #replacing null values with mean
df['Seats'].fillna(df['Seats'].mean(), inplace=True)        #replacing null values with mean
df.drop('New_Price', axis=1, inplace=True)                  #dropping the New_Price column
new_values = df.isnull().sum()
print(new_values)

Unnamed: 0.1         0
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [8]:
df.to_csv('/content/missing_values_replaced.csv')