**b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).**

In [1]:
import os
import pandas as pd

df = pd.read_csv('/content/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [4]:
# Convert columns to string type if not already
# removing units for the below columns

df['Mileage'] = df['Mileage'].astype(str).str.rstrip(' kmpl').str.rstrip('km/kg').astype(float)
df['Engine'] = df['Engine'].astype(str).str.rstrip(' CC').astype(float)
df['Power'] = df['Power'].astype(str).str.rstrip(' bhp').astype(float)
df['New_Price'] = df['New_Price'].astype(str).str.rstrip(' Lakh').str.rstrip(' Cr').astype(float)

df.to_csv('/content/units_removed.csv')