**C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value**

In [1]:
import os
import pandas as pd

df=pd.read_csv('/content/missing_values_replaced.csv')
#one-hot encoding
one_hot_encode = pd.get_dummies(df, columns=['Fuel_Type','Transmission'])
print(one_hot_encode)

      Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
0                0             0           1
1                1             1           2
2                2             2           3
3                3             3           4
4                4             4           6
...            ...           ...         ...
5842          5842          5842        6014
5843          5843          5843        6015
5844          5844          5844        6016
5845          5845          5845        6017
5846          5846          5846        6018

                                  Name    Location  Year  Kilometers_Driven  \
0     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                         Honda Jazz V     Chennai  2011              46000
2                    Maruti Ertiga VDI     Chennai  2012              87000
3      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4               Nissan Micra Diesel XV      Jaipur  2013              86999
...                                ...         ...   ...                ...
5842                  Maruti Swift VDI       Delhi  2014              27365
5843          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
5844             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
5845                Maruti Wagon R VXI     Kolkata  2013              46000
5846             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Owner_Type  Mileage  Engine   Power  Seats  Price  Fuel_Type_Diesel  \
0         First    19.67  1582.0  126.20    5.0  12.50                 1
1         First    13.00  1199.0   88.70    5.0   4.50                 0
2         First    20.77  1248.0   88.76    7.0   6.00                 1
3        Second    15.20  1968.0  140.80    5.0  17.74                 1
4         First    23.08  1461.0   63.10    5.0   3.50                 1
...         ...      ...     ...     ...    ...    ...               ...
5842      First    28.40  1248.0   74.00    5.0   4.75                 1
5843      First    24.40  1120.0   71.00    5.0   4.00                 1
5844     Second    14.00  2498.0  112.00    8.0   2.90                 1
5845      First    18.90   998.0   67.10    5.0   2.65                 0
5846      First    25.44   936.0   57.60    5.0   2.50                 1

      Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
0                      0                 0                       0
1                      0                 1                       0
2                      0                 0                       0
3                      0                 0                       1
4                      0                 0                       0
...                  ...               ...                     ...
5842                   0                 0                       0
5843                   0                 0                       0
5844                   0                 0                       0
5845                   0                 1                       0
5846                   0                 0                       0

      Transmission_Manual
0                       1
1                       1
2                       1
3                       0
4                       1
...                   ...
5842                    1
5843                    1
5844                    1
5845                    1
5846                    1

[5847 rows x 18 columns]

In [2]:
one_hot_encode.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1
1,1,1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1
2,2,2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1
3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0
4,4,4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1

In [3]:
df.to_csv('/content/one_hot_encoded.csv')