**e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.**

In [1]:
import os
import pandas as pd

df=pd.read_csv('/content/age_and_efficiency.csv')
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency
0,0,0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,9,0.155864
1,1,1,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50,13,0.146561
2,2,2,2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00,12,0.234002
3,3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,11,0.107955
4,4,4,4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50,11,0.365769

In [2]:
#selecting a few columns

selected_columns = df[['Name','Year','Kilometers_Driven','Fuel_Type','Transmission','Age']]

selected_columns.head()

,Name,Year,Kilometers_Driven,Fuel_Type,Transmission,Age
0,Hyundai Creta 1.6 CRDi SX Option,2015,41000,Diesel,Manual,9
1,Honda Jazz V,2011,46000,Petrol,Manual,13
2,Maruti Ertiga VDI,2012,87000,Diesel,Manual,12
3,Audi A4 New 2.0 TDI Multitronic,2013,40670,Diesel,Automatic,11
4,Nissan Micra Diesel XV,2013,86999,Diesel,Manual,11

In [3]:
#filter

transmission = df[df['Transmission']=='Automatic']
transmission.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency
3,3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.8,5.0,17.74,11,0.107955
5,5,5,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.5,8.0,17.50,8,0.066239
9,9,9,9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.3,5.0,4.49,12,0.144454
11,11,11,11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.70,2179.0,187.7,5.0,27.00,10,0.067661
12,12,12,12,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.00,2179.0,115.0,5.0,17.50,12,0.000000

In [4]:
#filter

km = df[df['Kilometers_Driven']<50000]
km.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency
0,0,0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,9,0.155864
1,1,1,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50,13,0.146561
3,3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,11,0.107955
5,5,5,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,17.50,8,0.066239
8,8,8,8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,9.95,6,0.208814

In [5]:
#renaming the columns Location, Kilometers driven and transmision
df.rename(columns={'Location':'Manufactured Location','Kilometers_Driven':'Mileometer(in kms)','Transmission':'Mode'}, inplace=True)
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Manufactured Location,Year,Mileometer(in kms),Fuel_Type,Mode,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency
0,0,0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,9,0.155864
1,1,1,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50,13,0.146561
2,2,2,2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00,12,0.234002
3,3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,11,0.107955
4,4,4,4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50,11,0.365769

In [6]:
#adding one more feature which is equivalent to mutate in R

df['Avg_kms_per_year']=df['Mileometer(in kms)']/df['Age']
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Manufactured Location,Year,Mileometer(in kms),Fuel_Type,Mode,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency,Avg_kms_per_year
0,0,0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,9,0.155864,4555.555556
1,1,1,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50,13,0.146561,3538.461538
2,2,2,2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00,12,0.234002,7250.000000
3,3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,11,0.107955,3697.272727
4,4,4,4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50,11,0.365769,7909.000000

In [8]:
#arrange

sort=df.sort_values(by='Year', ascending=False)
sort

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Manufactured Location,Year,Mileometer(in kms),Fuel_Type,Mode,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency,Avg_kms_per_year
5405,5405,5405,5405,5560,Renault KWID RXT Optional,Kochi,2019,6568,Petrol,Manual,First,25.17,799.0,53.3,5.0,5.09,5,0.472233,1313.600000
942,942,942,942,975,Ford Endeavour 2.2 Trend AT 4X2,Kochi,2019,11209,Diesel,Automatic,First,12.62,2198.0,158.0,7.0,31.15,5,0.079873,2241.800000
5533,5533,5533,5533,5690,Maruti Omni 5 Seater BSIV,Coimbatore,2019,4721,Petrol,Manual,First,14.00,796.0,35.0,5.0,4.11,5,0.400000,944.200000
770,770,770,770,796,Mahindra XUV500 W9 AT,Coimbatore,2019,19654,Diesel,Automatic,First,14.00,2179.0,155.0,7.0,17.63,5,0.090323,3930.800000
4267,4267,4267,4267,4399,Maruti Swift Dzire AMT ZDI,Chennai,2019,65000,Diesel,Automatic,First,26.59,1248.0,74.0,5.0,6.75,5,0.359324,13000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,1185,1185,1185,1224,Maruti Zen VX,Jaipur,1999,70000,Petrol,Manual,Second,17.30,993.0,60.0,5.0,0.77,25,0.288333,2800.000000
1791,1791,1791,1791,1845,Honda City 1.3 EXI,Pune,1999,140000,Petrol,Manual,First,13.00,1343.0,90.0,5.0,0.90,25,0.144444,5600.000000
3630,3630,3630,3630,3749,Mercedes-Benz E-Class 250 D W 210,Mumbai,1998,55300,Diesel,Automatic,First,10.00,1796.0,157.7,5.0,3.90,26,0.063412,2126.923077
5558,5558,5558,5558,5716,Maruti Zen LX,Jaipur,1998,95150,Petrol,Manual,Third,17.30,993.0,60.0,5.0,0.53,26,0.288333,3659.615385
3039,3039,3039,3039,3138,Maruti Zen LXI,Jaipur,1998,95150,Petrol,Manual,Third,17.30,993.0,60.0,5.0,0.45,26,0.288333,3659.615385

In [9]:
less_kms=df.sort_values(by='Mileometer(in kms)', ascending=True)
less_kms

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Manufactured Location,Year,Mileometer(in kms),Fuel_Type,Mode,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Efficiency,Avg_kms_per_year
1315,1315,1315,1315,1361,Maruti Alto 800 2016-2019 VXI,Mumbai,2019,171,Petrol,Manual,First,24.70,796.0,47.30,5.0,3.60,5,0.522199,34.200000
5451,5451,5451,5451,5606,Maruti Wagon R ZXI AMT 1.2,Mumbai,2019,600,Petrol,Automatic,First,21.50,1197.0,81.80,5.0,6.25,5,0.262836,120.000000
1203,1203,1203,1203,1242,Jaguar XE 2.0L Diesel Prestige,Delhi,2018,1000,Diesel,Automatic,First,13.60,1999.0,177.00,5.0,40.00,6,0.076836,166.666667
165,165,165,165,173,Hyundai Grand i10 1.2 Kappa Asta,Kolkata,2019,1000,Petrol,Manual,First,18.90,1197.0,81.86,5.0,6.50,5,0.230882,200.000000
1123,1123,1123,1123,1161,Tata Tigor 1.2 Revotron XTA,Ahmedabad,2018,1000,Petrol,Automatic,First,20.30,1199.0,84.00,5.0,6.85,6,0.241667,166.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997,2997,2997,2997,3092,Honda City i VTEC SV,Kolkata,2015,480000,Petrol,Manual,First,17.40,1497.0,117.30,5.0,5.00,9,0.148338,53333.333333
344,344,344,344,358,Hyundai i10 Magna 1.2,Chennai,2009,620000,Petrol,Manual,First,20.36,1197.0,78.90,5.0,2.70,15,0.258048,41333.333333
1805,1805,1805,1805,1860,Volkswagen Vento Diesel Highline,Chennai,2013,720000,Diesel,Manual,First,20.54,1598.0,103.60,5.0,5.90,11,0.198263,65454.545455
326,326,326,326,340,Skoda Octavia Ambition Plus 2.0 TDI AT,Kolkata,2013,775000,Diesel,Automatic,First,19.30,1968.0,141.00,5.0,7.50,11,0.136879,70454.545455
2259,2259,2259,2259,2328,BMW X5 xDrive 30d M Sport,Chennai,2017,6500000,Diesel,Automatic,First,15.97,2993.0,258.00,5.0,65.00,7,0.061899,928571.428571

In [10]:
#grouping the data by the mode of the vehicle and by the mean price
grouped_data= df.groupby('Mode')['Price'].mean()
grouped_data

Mode
Automatic    19.889182
Manual        5.415998
Name: Price, dtype: float64

In [11]:
#grouping the data by the owner type and by the mean price
grouped_data= df.groupby('Owner_Type')['Price'].mean()
grouped_data

Owner_Type
First             10.105076
Fourth & Above     3.415000
Second             7.839719
Third              5.348058
Name: Price, dtype: float64

In [12]:
#grouping the data by fuel type of the vehicle and by the mean of mileage
grouped_data= df.groupby('Fuel_Type')['Mileage'].mean()
grouped_data

Fuel_Type
Diesel      18.652661
Electric    18.190000
Petrol      17.576509
Name: Mileage, dtype: float64

In [13]:
df.to_csv('/content/data_operations.csv')